os:
  - linux

language: go

go:
  - 1.13.x

env:
  global:
    - GOTFLAGS="-race"
  matrix:
    - BUILD_DEPTYPE=gomod

env:
  - GO111MODULE=on

install:
  - go get honnef.co/go/tools/cmd/staticcheck

script:
  - go test -v -race -coverprofile=coverage.txt -covermode=atomic
  - go build ./... # build the examples too
  - staticcheck ./...
after_success:
  - bash <(curl -s https://codecov.io/bash)

cache:
  directories:
    - $GOPATH/src/gx
    - $GOPATH/pkg/mod
    - $HOME/.cache/go-build
