name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master, dependency-upgrades ]

jobs:

  build:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.19
        
    - name: Install depedencies
      run: go install honnef.co/go/tools/cmd/staticcheck@latest

    - name: Build
      run: go build -v ./...

#    - name: Build WASM
#      run: GOOS=js GOARCH=wasm go build -v ./...

    - name: Test
      run: go test -v -race -coverprofile=coverage.txt -covermode=atomic

    - name: Staticcheck
      run: staticcheck ./...
      
    - name: Send coverage
      run: bash <(curl -s https://codecov.io/bash)
